async-timeout==4.0.3 ; python_full_version < "3.11.3" and python_version >= "3.9"
certifi==2024.8.30 ; python_version >= "3.9"
charset-normalizer==3.3.2 ; python_version >= "3.9"
idna==3.8 ; python_version >= "3.9"
packaging==24.0 ; python_version >= "3.9"
plotly==5.19.0 ; python_version >= "3.9"
redis==5.0.8 ; python_version >= "3.9"
requests==2.31.0 ; python_version >= "3.9"
six==1.16.0 ; python_version >= "3.9"
spotipy==2.23.0 ; python_version >= "3.9"
tenacity==9.0.0 ; python_version >= "3.9"
urllib3==2.0.7 ; python_version >= "3.9"
